<h1>Edit ride</h1>

<%= render "shared/errors", object: @rides %>

<%= form_for @rides do |form| %>
        <%= render partial: "fields", locals: { f: form } %>

        <%= form.submit 'Update user profile' %>
<% end %>